@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Tagesschrift&display=swap");
@import url()

title{
	background-color: #DACDCB;
	font-family: "Tagesschrift", system-ui;
	text-align: center;
	font-size: 2.3rem;
	color: #d97143;
}
