@import url("https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap");

*

body{
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0 auto;
	padding: 20px;
}
h1{
	background-color: #3c4887;
	font-family: "Princess Sofia", cursive;
	text-align: center;
	font-size: 5rem;
	color: #f06ac1;
}
h2{
	font-family: "Princess Sofia", cursive;
	text-align: center;
	font-size: 3rem;
	color: #f06ac1;

}

img{
	border-radius: 20px;
	width: 10%;
}
label{
	display: block;
	margin: 10px 0 5px;
	font-weight: bold;

}
input, textarea, select{
	width: 70%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
input[type="submit"]{
	background-color: #3c4887;
	color: white;
	border: none;
	cursor: pointer;
}
input[type="submit"]:hover{
	background-color: #f06ac1;
}
.container{
	max-width: 800px;
	margin: 0 auto;
	padding: 40px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}