@import url("https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap");



*

h1{
	background-color: #3c4887;
	font-family: "Princess Sofia", cursive;
	text-align: center;
	font-size: 5rem;
	color: #f06ac1;
}

.prod{
	background-color: lightpink;
	width: 80%;
	margin: 32px 32px 32px 32px;
	padding: 16px 16px 16px 16px;
	border-radius: 16px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

img{
	border-radius: 20px;
	width: 10%;
}
